@media screen and (min-width: 850px)
{
    body{ margin:auto; font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; }


input[type='text'].error{border: 1px solid red;}
label.error{color:red;}
.silbtn{margin-left: 5px;}
#eklemesonrasi .modal-footer{text-align: right;margin: 10px;}
.verieklemebtn{margin-bottom:10px;}
.cart_quantity_input{text-align:center;}
.bordersizth{border:none;text-align:center;}
.bordersiz{border:none;width:100px;text-align:center;}
.table-hover>tbody>tr:hover .bordersiz,.secilmistr .bordersiz{background:#f5f5f5;}
.secilmistr{background: #f5f5f5;}
#yeniresimdiv{display: none;}
#yeniresimiptalbtn{display: none;}
#siparisurunler{height:300px;overflow-x: scroll;}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
   line-height: 1.5;
}
#cvpmail{margin-bottom: 10px;}
.popover{background: #d40000;color:#fff;font-weight: bold;font-size: 14px;}
h3.popover-title{background: #850000;font-weight: bold;font-size: 16px;}
.adresler{margin-bottom:10px;}
.adresler>.border{
    padding: 10px;
    border: 1px solid #ccc;}
#myModal{width: 80%;margin: 20px auto;}
#myModal .modal-dialog{width: 100%;margin:0px auto;}

}

@media screen and (min-width: 830px) and (max-width:1365px)
{
    body{ margin:auto; font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;}
    
    
input[type='text'].error{border: 1px solid red;}
label.error{color:red;}
.silbtn{margin-left: 5px;}
#eklemesonrasi .modal-footer{text-align: right;margin: 10px;}
.verieklemebtn{margin-bottom:10px;}
.cart_quantity_input{text-align:center;}
.bordersizth{border:none;text-align:center;}
.bordersiz{border:none;width:100px;text-align:center;}
.table-hover>tbody>tr:hover .bordersiz,.secilmistr .bordersiz{background:#f5f5f5;}
.secilmistr{background: #f5f5f5;}
#yeniresimdiv{display: none;}
#yeniresimiptalbtn{display: none;}
#siparisurunler{height:300px;overflow-x: scroll;}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
   line-height: 1.5;
}
#cvpmail{margin-bottom: 10px;}
.popover{background: #d40000;color:#fff;font-weight: bold;font-size: 14px;}
h3.popover-title{background: #850000;font-weight: bold;font-size: 16px;}
.adresler{margin-bottom:10px;}
.adresler>.border{
    padding: 10px;
    border: 1px solid #ccc;}
#myModal{width: 80%;margin: 20px auto;}
#myModal .modal-dialog{width: 100%;margin:0px auto;}

}
  